/* ============================================
   TextScatter Styles
   ============================================ */
.text-scatter {
  display: inline-block;
  cursor: default;
}

.scatter-letter {
  display: inline-block;
  will-change: transform;
}

.scatter.obitron {
    bottom: auto;
    
}